<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"  name="viewport" content="width=device-width,initial-scale=1 user-scalable=no">
    <title>添加课程</title>
    <!--用来加载外部资源的标签-->
    <!--相对路径和绝对路径-->
    <link rel="short icon" href="/image/icon.png">
    <!--加载外部样式CSS,一个项目有很多地方样式都一样时-->
    <link rel="stylesheet"  href="/css/ExternalStyle.css">
    <!--加载页内样式CSS,一个项目在项目出现的次数比较少,代码量稍大时，-->
    <style>
        .changeDiv {
    font-size: 1em;
    font-family: 仿宋, serif;
    width: 60%;
    display: block;
    margin-left: 10%;
    opacity: 0.8;
    padding: 0.2em;
    color: #000000;
    border-radius: 10px;
    background-color: #bed8df;
}

 

    </style>
</head>

<body>
    <header class="DS_header" >
        <span>删除已选学生</span>
 </header>
   

    <div class=changeDiv>
        <li>
            <label for="">请输入教师的姓名：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input type="text" name="tuser" id="tuser">
        </li>
        <li>
            <label for="">请输入你要删除的学生：</label>
            <input type="text" name="user" id="user">
        </li>
    </div>
  
    <input class="button" id="delete" type="button" value="删除" >

<!--第二部分-->
<footer>
    <ul>
        <li>
            <a href="/sy2">
                <img src="/image/nav10.png" alt="">
                <span > 老师首页</span>    <!--加载行内样式CSS,某个样式代码很少，样式出现次数少-->
            </a>
        </li>
        <li>
            <a href="/add2">
                <img src="/image/nav20.png" alt="">
                <span>老师替选</span>
            </a>
        </li>
        <li>
            <a href="/allStudent2">
                <img src="/image/nav30.png" alt="">
                <span>查询课程</span>
            </a>
        </li>
        <li>
            <a href="/delete2">
                <img src="/image/nav41.png" alt="">
                <span>老师替删</span>
            </a>
        </li>
        <li>
            <a href="/login">
                <img src="/image/nav50.png" alt="">
                <span>退出登录</span>
            </a>
        </li>
    
    </ul>
</footer>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script>

     $("#delete").click(function () {
        $.post("/delete2", { 
            "tuser":$("#tuser").val(),
            "user":$("#user").val(),
        }, function (data) {  // data是服务器返回的数据
            if(data == "1"){
                alert("删除成功")
                location.href="/allStudent2";
              }else if (data =="-1"){ 
                alert("出错了哦~")
            }
        });
    });
  </script>

</body>
</html>