<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"  name="viewport" content="width=device-width,initial-scale=1 user-scalable=no">
    <title>登录</title>
    <!--用来加载外部资源的标签-->
    <!--相对路径和绝对路径-->
    
    <!--加载外部样式CSS,一个项目有很多地方样式都一样时-->
    <link rel="stylesheet"  href="/css/ExternalStyle.css">
     <style>
   .DS_header{
                background: rgb(40,133,202);
               line-height: 44px;
               font-size: 18px;
               text-align: center;
               color: white;
               /*定位*/
               width: 100%;
               left:0;
               top:0;
               position:fixed;
              z-index: 9999;
          }
        .L_second_div{
            text-align: center;
        }
        .L_second_div img{
            margin-top: 50px;
        }
         .L_form_div{
             background: white;
             width: 90%;
             height: 100px;
             margin: 0 auto;
             border: 1px  solid #CCCCCC;
             border-radius: 5px;
             margin-top: 30px;
         }
        .L_account_div{
           height: 50px;
            border-bottom: 1px solid #CCCCCC;
        }
         .L_form_div div span{
             font-size: 20px;
             padding-left: 15px;
             line-height: 50px;
         }
         input{
             outline: medium;
             background: transparent;
             border:0;
         }

        .L_login_btn_div{
            background: rgb(36,92,161);
            height: 50%;
            width: 90%;
            border-radius: 10px;
            margin: 20px auto;
            text-align: center;
        }
        .L_login_btn_div input{
            line-height: 50px;
            font-size: 20px;
            color: white;
        }
    </style>

</head>
<body>

<!--第一部分-->
<header class="DS_header" >
    <span>登录</span>
</header>


<!--第二部分-->
<div class="L_second_div">
    <img class="L_head_img" src="/image/head.png"alt="">
</div>


<!--第三部分-->
<form action="">
    <div class="L_form_div">
    <div class="L_account_div">
        <span>账户名</span>
        <input  id="L_user"  type="text" name="user"><br>
    </div>
        <div>
            <span>密码</span>
            <input id="L_password"  type="password" name="password"><br>
        </div>
    </div>


    <div class="L_login_btn_div">
    <input type="button" value="学生登录" id="login">
     </div>
    
        <div class="L_login_btn_div">
        <input type="button" value="老师登录" id="login2">
    </div>
    <div class="L_login_btn_div">
        <input type="button" value="前往注册" onclick="register_page()" >
            </div>


</form>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script>
    function register_page()
      {
          window.location = "/register"
      }

      $("#login").click(function () {
        $.post("/login", { 
            "user":$("#L_user").val(),
            "password":$("#L_password").val(),
        }, function (data) {  // data是服务器返回的数据
            if(data == "1"){
                alert("登录成功")
                location.href="/sy?" +$("#L_user").val()+"";
            }else if (data =="-1"){ 
                alert("登录用户密码不对~")
            }else if (data =="0"){ 
                alert("此用户不存在,前去注册吧!")
            }
        
        });
    });

    $("#login2").click(function () {
        $.post("/login2", { 
            "tuser":$("#L_user").val(),
            "tpassword":$("#L_password").val(),
        }, function (data) {  // data是服务器返回的数据
            if(data == "1"){
                alert("登录成功")
                location.href="/sy2?" +$("#L_user").val()+"";
            }else if (data =="-1"){ 
                alert("登录用户密码不对~")
            }else if (data =="0"){ 
                alert("此用户不存在,前去注册吧!")
            }
        
        });
    });
  </script>

</body>
</html>